:focus {
    outline-color: $c-blue;
    outline-width: 3px;
    outline-offset: 5px;
    outline-style: dotted;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

body {
    font: $font-regular #{$font-base}/1.6 $font-family-default;
    background-color: $c-red;
    color: #fff;
}

body {
    font-family: $font-family-theme;
}

a {
    color: $c-blue;
    display: inline-block;
    text-decoration: none;
    transition: color ease-in-out 250ms;

    &:hover {
        color: $c-blue;
    }
}

ul {
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0 0 1rem;
    font-weight: $font-bold;
}

h1 {
    font-size: $h1 / 1.5;
    color: $c-dark-blue;
}

p:not(:last-of-type) {
    font-size: 1rem;
    max-width: 620px;
    margin: 0 0 2em;
}

footer {
    padding: 1em 0;
}

@media screen and (min-width: 1200px) {

    h1 {
        font-size: $h1;
    }
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}