.bg {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
        content: '';
        position: absolute;
        background: url(../images/bg-intro-mobile.png) repeat center;

        @media screen and (min-width: 376px) {
            background: url(../images/bg-intro-desktop.png) repeat center;
        }

        background-size: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

$input-pad : $padding $padding * 2;

.form {
    max-width: 540px;
    padding: $padding;
    border-radius: 12px;
    background-color: #fff;
    font-weight: $font-bold;
    box-shadow: 0 6px 0 1px rgba($c-blue, .16);

    @media screen and (min-width:600px) {
        padding: $padding * 2;
    }

    label {
        color: lighten($c-dark-blue, 20);
    }

    input {
        height: inherit;
        width: 100%;
        padding: $padding;

        @media screen and (min-width:600px) {
            padding: $input-pad;
        }

        border-radius: 4px;
        border: 1px solid $c-grayish-blue;
        color: #000;
        font-weight: $font-bold;
        font-family: inherit;
    }

    input[type=submit] {
        background-color: $c-green;
        border: transparent;
        box-shadow: 0 4px 0 1px darken($c-green, 4);
        color: #fff;
        font-weight: $font-semibold;
        letter-spacing: 2px;
    }

    input.invalid {
        background: url('../images/icon-error.svg') no-repeat 95% 50%;
        background-size: 2em;
        border-color: $c-red;
        outline-color: $c-red;
    }

    input.valid {
        background: url('../images/icon-check.svg') no-repeat 95% 50%;
        background-size: 2em;
        border-color: $c-dark-blue;
    }

    &__group:not(:last-child) {
        margin: 0 0 $gutter / 2;
        height: 56px;
    }

    .input {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;

        &__placeholder {
            padding: $padding;

            @media screen and (min-width:600px) {
                padding: $input-pad;
            }

            width: 100%;
            position: absolute;
            transform: translateY(0);
            transition: transform ease-in-out 250ms;
        }
    }
}

.focused .input__placeholder {
    transform: translateY(-15px);
    color: $c-grayish-blue;
    font-size: 0.675rem;
}

.help {
    margin: 0 0 $gutter;
    color: $c-red;
    font-style: italic;
    font-weight: normal;
    font-size: 0.675rem;
    text-align: right;
}

.cta {
    margin: 0 0 $gutter;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 6px 0 1px rgba($c-blue, .16);
    background-color: $c-blue;
    text-align: center;
}

.legal {
    color: $c-green;
    font-size: 0.675rem;
    font-weight: normal;
    text-align: center;
}

.intro {
    margin: 2em auto;
    font-weight: $font-semibold;
}